<!Doctype>
<html>
<head>
	<title> About | Welcome to SocialNetwork </title>
</head>
<body>

<h1> About </h1>
<p> This is going to be the About page where you can learn more about the author and the application itself </p>

</body>
</html>