<!Doctype>
<html>
<head>
	<title> Help | Welcome to SocialNetwork </title>
</head>
<body>

<h1>Help</h1>
<p>In case you need some help this section is going to be the perfect place to reach for help</p>
</body>
</html>